:host {
    display: flex;
    background-color: black;
}

mat-card {
    background-color: #E0F2F1;
    border-color: #E0F2F1;
    border-style: solid;
    border-width: 2px;
    color: #009688;
    cursor: pointer;

    padding: 20px; /* ***Important... padding & border!!! */
    width: 436px; /* + border + padding = 480 px*/
    height: 276px; /* + border + padding = 320 px*/

    display: flex;
    flex-direction: column;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

mat-card.active {
    background-color: #009688;
    border-color: #009688;
    color: #E0F2F1;
}

mat-card:hover {
    border-color: yellow;
}

p.img {
    margin: 0;
}